# ==========================
# Build output
# ==========================
out/

*.o
*.d
*.elf
*.img
*.bin
*.map
*.lst

# ==========================
# macOS
# ==========================
.DS_Store
**/.DS_Store

# ==========================
# Vim
# ==========================
*.swp
*.swo
*~

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# CLion
# ==========================
.idea/

# ==========================
# VMware
# ==========================
*.lck

# ==========================
# Logs
# ==========================
*.log

# ==========================
# ai tool
# ==========================
.agents/
.codex/
